<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Vanessa's Swedish Learning Website</title>
    <script src="/jquery-3.7.1.js" defer></script>
    <script src="/bootstrap.min.js" defer></script>
    <script src="/controller.js" defer></script>
  </head>
  <body>
    <main>
      {{{body}}}
    </main>
  </body>
</html>