<main>
  <div class="container">
    <!-- header -->
    <div class="text-center">
      <h1 class="aboutPage-header">About This Site</h1>
    </div>

    <div>
      <h2 class="aboutPage-header-tertiary">Website Introduction</h2>
      <p class="aboutPage-header-tertiary-text">
        Welcome to my Swedish Language Learning Hub!
        <br />This is a personal project I created for my own learning purposes
        for both Swedish and programming.
      </p>
    </div>

    <!-- web features introduction text -->
    <div class="website-features">
      <h2 class="aboutPage-header-tertiary">Website Features</h2>
      <ul class="aboutPage-header-tertiary-text list-unstyled">
        <li>
          <b>User Management System</b>
          for tracking learning progress
        </li>
        <li><b>HomePage</b> with featured words and flashcards</li>
        <li>
          <b>WordPage</b>
          with Table and Features: Search, Add, Delete, Edit(currently focusing
          on nouns)
        </li>
        <li><b>Responsive design</b>for access on various devices</li>
      </ul>
    </div>

    <!-- web technology stack introduction text -->
    <div>
      <h2 class="aboutPage-header-tertiary">Technology Stack</h2>
      <p class="aboutPage-header-tertiary-sub">
        This website is built using the following technologies:
      </p>
      <ul class="aboutPage-header-tertiary-text list-unstyled">
        <li><b>Frontend:</b> HTML, CSS (Bootstrap framework)</li>
        <li><b>Backend:</b> Node.js, Handlebars</li>
        <li><b>Database:</b> SQLite3</li>
        <li>
          <b>Authentication:</b>
          bcrypt for password encryption, express-session for session management
        </li>
      </ul>
    </div>
  </div>
</main>