<main class="container text-center">
  <h1 class="text-center contactPage-header">Get in touch</h1>

  <div class="row contactPage-body">
    <div class="col-md-4 text-center contactPage-body-section">
      <span class="contactPage-icons glyphicon glyphicon-earphone">
        <h3>PHONE</h3>
        <p class="contactPage-text">0704486572</p>
      </span>
    </div>

    <div class="col-md-4 text-center contactPage-body-section">
      <span class="contactPage-icons glyphicon glyphicon-map-marker">
        <h3>ADRESS</h3>
        <p class="contactPage-text">Storgatan 27, Jönköping, Sverige</p>
      </span>
    </div>

    <div class="col-md-4 text-center contactPage-body-section">
      <span class="contactPage-icons glyphicon glyphicon-comment">
        <h3>EMAIL</h3>
        <p class="contactPage-text">vanessa.xcf@gmail.com</p>
      </span>
    </div>
  </div>
</main>